@model IEnumerable<BlogImages>


<div class="dataTables_wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6 py-1">
                <h5>Blog Image List</h5>
            </div>
            <div class="col-sm-6 d-flex flex-row align-items-center justify-content-end">
                <a asp-area="Admin" asp-controller="BlogImages" asp-action="Create" class="d-none d-sm-inline btn btn-sm btn-success shadow-sm">
                    <i class="bi bi-plus-square" data-bs-toggle="tooltip" title="Edit" style="font-size:15px"></i> Uplode New Images
                </a>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        @foreach (var item in Model.Select(s => s.BlogTitle).Distinct().ToList())
        {
            var itemData = Model.Where(s => s.BlogTitle == item).ToList();
            <div class="accordion-item">
                <h2 class="accordion-header" id="@itemData[0].Id">
                    <button class="accordion-button collapsed" type="button" data-ds-toggler="collapse"
                            data-bs-target="#collapse_@itemData[0].Id" aria-expanded="false" aria-controls="collapse_@itemData[0].Id">
                        @itemData[0].BlogTitle
                    </button>
                </h2>
                <div id="collapse_@itemData[0].Id" class="accordion-collapse collapse" aria-labelledby="@itemData[0].Id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @foreach (var itemDetail in Model.Where(s => s.BlogTitle == item).ToList())
                        {
                            <div class="bg-light d-flex justify-content-between">
                                <div><img src="@itemDetail.ImageUrl" style="width:100px; height:100px"></div>
                                <div>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-area="Admin" asp-controller="BlogImages" asp-action="Edit" asp-route-id="@itemDetail.Id" class="d-none d-sm-inline btn btn-sm btn-primary shadow-sm">
                                            <i class="bi bi-pencil-square" data-bs-toggle="tooltip" title="Edit" style="font-size:15px"></i> Edit
                                        </a>
                                        <a asp-area="Admin" asp-controller="BlogImages" asp-action="Delete" asp-route-id="@itemDetail.Id" class="d-none d-sm-inline btn btn-sm btn-danger shadow-sm">
                                            <i class="bi bi-x-square" data-bs-toggle="tooltip" title="Remove" style="font-size:15px"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>
